
h1{
    color:  rgb(44, 62, 80);
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
}
.lines{
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.lines .line1{
    background-color: rgb(44, 62, 80) ;
    margin: 0 15px;
    width: 10rem;
    height: 0.25rem;
}
.line-icon {
    font-size: 2rem;
    color:  rgb(44, 62, 80);
}