<section class="text-center p-5">

    <h1>CONTACT ME</h1>
    <div class="lines">
        <div class="line1"></div>
        <div class="line-icon"><i class="fas fa-star"></i></div>
        <div class="line1"></div>
      </div>

      <div class="contact w-50 m-auto p-3">
        <input class="form-control m-2" id="name" type="text" placeholder="Name">
        <input class="form-control m-2" id="name" type="text" placeholder="Email Address">
        <input class="form-control m-2" id="name" type="text" placeholder="Phone">
        <textarea class="form-control" id="message" rows="5" placeholder="Message"></textarea>
      </div>
</section>
