<section class="">
    <div class="row text-white p-5">
        <div class="col-md-4">
            <h4>LOCATION</h4>
            <p>2215 John Daniel DriveClark, MO 65243</p>
        </div>
        <div class="col-md-4">
            <h4>AROUND THE WEB</h4>
            <div class="icon-social d-flex text-start px-3">
                <div
                  class="icon-socilx d-flex align-items-center justify-content-center m-2"
                >
                  <i class="icon-socily fa-brands fa-facebook-f"></i>
                </div>
                <div
                  class="icon-socilx d-flex align-items-center justify-content-center m-2"
                >
                  <i class="icon-socily fa-brands fa-twitter"></i>
                </div>
                <div
                  class="icon-socilx d-flex align-items-center justify-content-center m-2"
                >
                  <i class="icon-socily fa-brands fa-linkedin"></i>
                </div>
                <div
                  class="icon-socilx d-flex align-items-center justify-content-center m-2"
                >
                  <i class="icon-socily fa-brands fa-facebook-f"></i>
                </div>
              </div>
           
        </div>
        <div class="col-md-4">
            <h4>ABOUT FREELANCER</h4>
            <p> Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</section>
<footer>
     <p>    Copyright © Your Website 2021</p>
</footer>
