<section class="text-center p-5">

    <h1>ABOUT</h1>
    <div class="lines">
        <div class="line1"></div>
        <div class="line-icon text-white"><i class="fas fa-star"></i></div>
        <div class="line1"></div>
      </div>
    <div class="row text-start">
        <div class="col-md-6">
            <p>
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

            </p>
        </div>
        <div class="col-md-6">
            <p>
                You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
                
            </p>
        </div>
    </div>
</section>
